


@media screen {
    body{
    font-family: sans-serif;
    /* background-color: lightgray; */
    /*width: 940px;*/
    width: 80%;
    max-width: 1024;
    padding: 0px 200px;
    font-size: 16px;
    line-height: 1.5;
    }
}

@media (max-width: 480px){
    body{
    
    /* background-color: lightgray; */
    
    
    font-size: 12px;
    
    }

}

@media (max-width: 850px){
    .contato-secao{
        display: block;
    }
    /*
    .contato-secao-correspondencia {
    display: block;
    }
    .contato-secao-telefone {
    display: block;
    vertical-align: top;
    margin-left: 32px;
    }
*/
}

@media (max-width: 622px){
    .figura-familia{
       
        margin: 120px;
        padding: auto;
        align-content: center;

    }

}

@media (max-width: 446px){
    .contato-subtitulo{
        display: block;
        margin-bottom: 0
    }

    .contato-info{
        border-left: 1px solid lightgray;
        padding-left: 5px;
        font-size: 0.92em;
    }

    .rodope{
        font-size: 0.92em;
    }

}

@media (max-width: 342px){
    .contato-info-titulo{
        display: block;
        margin-left: 5px;
    }

    .rodope{
        font-size: 0.92em;
    }

}


/*div{
    border: 2px solid;
    border-color: red;
    width: 50px;
    height: 50px;
}*/

img{
    width: inherit;
    height: inherit;
    
}

.contato-subtitulo {
    display: inline;
}

.contato-info-titulo {
    display: inline;
}

.contato-secao-correspondencia {
    display: inline-block;
}

.contato-secao-telefone {
    display: inline-block;
    vertical-align: top;
    margin-left: 32px;
}

.contato-info-descricao {
    display: inline;
    margin-left: 10px;
}

.contato-info {
    margin: 16px 0 24px;
    padding-left: 32px;
}

.titulo {
    text-align: center;
    color:#3d3d3d;
    background-color: #e1edf2;
    padding: 10px;
    color:blue;
    text-align: left;
}

.rodape {
    padding: 1.75em 0;
    font-size: 1.1em;
}

.rodape_logo {
    width: 6em;
}

.rodape_copyright {
    display: inline;
    margin-left: 1em;

}

#titulo-principal{
    text-align: center;
}

p{
    text-align: justify;
    /* letter-spacing: 10px;
    line-height: 30px;
    word-spacing: 10px; */
}


span {
    color: red;
    background-color: blue;
}

.subtitulo{
    border-bottom: 2px solid black;
}

figure{
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: whitesmoke;
    color: lightgray;
    padding:15px;
    margin: 30px;
}

figure img {
    width: 100%;
}


.matriz-musicdot {
    width: 300px;
}

.imagens-grandes{
    width: 100%;
}

figcaption{
    margin: 10px;
}

ul{
    list-style-type: square;
}

ol{
    list-style-type: upper-alpha;
}

.figura-matriz{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.figura-familia{
    width: 275px;
    float: right;
}

@media (max-width: 639px)
{
    .cabecalho {
        background-color: #272B3A87;
        color: white
        font-size: 0.6rem;
        text-transform: uppercase;
        letter-spacing: 0.23em;
        font-weight: bold;
        text-align: center;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
    }

    .btn{
        background-color: red;
        border: none;
        padding-top: 12px;
        text-align: center;
    }

    

    input {
        padding-top: 10px;
        color: black;
        border-color: red
    }

    .logo {
        text-align: center;
        padding-top: 20px;
    }

    .corp_logo {
        text-align: center;
        padding-top: 1px;
    }

    .center-content-cursos {
        display: block;
        text-align: center;
        margin: 5px;
    }

    .center-content-info {
        text-align: center;
        display: block;
        padding-top: 20px;

    }

    .icon-svg {
        text-align: center;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .test {
    display: block;
    padding-right: 50px;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    }
}

@media (min-width: 640px, max-width: 1199)
{
    .cabecalho {
        background-color: #272B3A87;
        color: white
        font-size: 0.6rem;
        text-transform: uppercase;
        letter-spacing: 0.23em;
        font-weight: bold;
        text-align: center;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 50px;

        justify-content: space-between;
        flex-wrap: wrap;
    
    }

    div.container{
            width: 400px;
            background-color: #ccc;
            height: auto;
        }
        div{
            width: 100px;height: 100px;
        }

    .btn{
        background-color: red;
        border: none;
        padding-top: 12px;
        text-align: center;
    }

    .center-content-info {
        float: right;

    }

    input {
        padding-top: 10px;
        color: black;
        border-color: red
    }

    .logo {
        padding-top: 20px;
    }
    div {
        display: inline-block;
    }

    .corp_logo {
        padding-top: 1px;
    }

    .center-content-cursos {
        float: left;
    }

    .icon-svg {
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .test {
    display: block;
    padding-right: 50px;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    }
}

@media (min-width: 1200px, max-width: 4000px)
{
    body {
        background-color: red;
    }

    .btn{
        background-color: red;
        border: none;
        padding-top: 12px;
        text-align: center;
    }

    .center-content-info {
        float: right;

    }

    input {
        padding-top: 10px;
        color: black;
        border-color: red
    }

    .logo {
        padding-top: 20px;
    }
    div {
        display: inline-block;
    }

    .corp_logo {
        padding-top: 1px;
    }

    .center-content-cursos {
        float: left;
    }

    .icon-svg {
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .test {
    display: inline-block;
    padding-right: 50px;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    }
    }
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
