
body{
    font-family: sans-serif;
    /* background-color: lightgray; */
    width: 940px;
    padding: 0px 200px;
    font-size: 16px;
    line-height: 1.5;
}

/*div{
    border: 2px solid;
    border-color: red;
    width: 50px;
    height: 50px;
}*/

img{
    width: inherit;
    height: inherit;
    
}

.contato-subtitulo {
    display: inline;
}

.contato-info-titulo {
    display: inline;
}

.contato-secao-correspondencia {
    display: inline-block;
}

.contato-secao-telefone {
    display: inline-block;
    vertical-align: top;
    margin-left: 32px;
}

.contato-info-descricao {
    display: inline;
    margin-left: 10px;
}

.contato-info {
    margin: 16px 0 24px;
    padding-left: 32px;
}

.titulo {
    text-align: center;
    color:#3d3d3d;
    background-color: #e1edf2;
    padding: 10px;
    color:blue;
    text-align: left;
}

.rodape {
    padding: 1.75em 0;
    font-size: 1.1em;
}

.rodape_logo {
    width: 6em;
}

.rodape_copyright {
    display: inline;
    margin-left: 1em;

}

#titulo-principal{
    text-align: center;
}

p{
    text-align: justify;
    /* letter-spacing: 10px;
    line-height: 30px;
    word-spacing: 10px; */
}


span {
    color: red;
    background-color: blue;
}

.subtitulo{
    border-bottom: 2px solid black;
}

figure{
    text-align: center;
    background-color: whitesmoke;
    color: lightgray;
    padding:15px;
    margin: 30px;
}

figure img {
    width: 100%;
}


.matriz-musicdot {
    width: 300px;
}

.imagens-grandes{
    width: 100%;
}

figcaption{
    margin: 10px;
}

ul{
    list-style-type: square;
}

ol{
    list-style-type: upper-alpha;
}

.figura-matriz{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.figura-familia{
    width: 275px;
    float: right;
}